@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:url(https://images.pexels.com/photos/1287083/pexels-photo-1287083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 70px;
    color: #fff;
}

.currentInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
}

.dateContainer #time {
    font-size: 70px;
}

.dateContainer #amPm {
    font-size: 30px;
    margin-left: 20px;
}

.dateContainer .date {
    font-size: 30px;
}

.cityContainer {
    text-align: end;
}
.cityContainer .timeZone {
    font-size: 30px;
    font-weight: 200;
}

.cityContainer .country {
    font-size: 12px;
    font-weight: 700;
}

.currentInfo .others {
    display: flex;
    width: 250px;
    flex-direction: column;
    background: rgba(24,24,27,0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.currentInfo .others .weatherItem {
    display: flex;
    justify-content: space-between;
}

.futureForecast {
    background: rgba(24, 24, 27, 0.8);
    padding: fixed;
    bottom: 0;
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.futureForecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
}

.futureForecast .today .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.futureForecast .today .temp {
    font-size: 18px;
    padding-top: 15px;
}
.futureForecast .weatherForecast {
    display: flex;
}

.weatherForecast .weatherForecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
}

.weatherForecast .weatherForecastItem .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weatherForecast .weatherForecastItem .temp {
    font-weight: 100;
}

@media only screen and (max-width:730px){
    .futureForecast{
        justify-content: start;
        align-items: none;
        overflow: scroll;
    }
}