@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;700&display=swap');

body {
    background:url(https://images.pexels.com/photos/1287083/pexels-photo-1287083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: rgba(24,24,27,0.6);
    padding: 1em;
    margin: 1em;
    border-radius: 30px;
    border: black .5px solid;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    max-width: 420px;
    font-family: 'Poppins', sans-serif;
}

.icon {
    height: 15px;
    justify-items: center;
    align-items: center;
}